.navbar {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    background-color: #F26521;
    /* background-color: linear-gradient(180, #F26521, #ED5223);; */
}